In [1]:
import pandas as pd

credit_df = pd.read_csv('./datasets/하이닉스.csv')

In [2]:
credit_df

,날짜,시가,고가,저가,종가,거래량,"MA_종가,단순,5","MA_종가,단순,20","MA_종가,단순,60","MA_종가,단순,120",...,은행_수량,투신_수량,보험_수량,금융투자_수량,[일]기관_수량,기관_수량,[일]외국인_수량,외국인_수량,[일]개인_수량,개인_수량
0,2004-01-02,"5,740","5,750","5,570","5,600","4,148,379","5,338","6,050","6,730","7,418",...,0,"219,660",0,"-14,251","43,869","43,869","5,800","5,800","-37,659","-37,659"
1,2004-01-05,"5,610","6,360","5,560","6,250","18,766,562","5,548","6,025","6,721","7,404",...,0,"167,990",0,"-160,297","-207,716","-163,847","1,328,870","1,334,670","-1,110,874","-1,148,533"
2,2004-01-06,"6,380","6,470","6,070","6,130","10,501,167","5,766","5,998","6,710","7,389",...,0,"34,930",0,"-221,295","-194,138","-357,985","177,100","1,511,770","42,228","-1,106,305"
3,2004-01-07,"6,280","6,850","6,230","6,620","20,562,472","6,040","6,007","6,704","7,378",...,0,"123,920",0,"-251,299","209,026","-148,959","2,432,330","3,944,100","-2,659,076","-3,765,381"
4,2004-01-08,"6,800","6,970","6,500","6,510","13,864,093","6,222","6,018","6,698","7,365",...,0,"10,680",0,"-386,040","-234,171","-383,130","339,820","4,283,920","-142,939","-3,908,320"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2024-03-15,"159,600","162,900","158,600","161,200","4,099,531","163,800","159,770","145,563","135,663",...,"-147,034,113","-28,596,684","1,367,144","3,196,718","-48,164","-185,608,194","-113,095","246,630,013","170,734","-88,674,244"
4996,2024-03-18,"161,200","164,500","161,000","164,300","2,696,598","163,340","160,645","145,968","136,013",...,"-147,034,912","-28,509,167","1,370,092","3,667,924","679,279","-184,928,915","-575,769","246,054,244","-120,655","-88,794,899"
4997,2024-03-19,"161,700","161,800","157,600","160,200","4,159,293","162,240","161,090","146,305","136,356",...,"-147,013,906","-28,604,952","1,338,660","3,438,364","-491,780","-185,420,695","-212,573","245,841,671","700,714","-88,094,185"
4998,2024-03-20,"160,200","161,400","154,100","156,500","5,692,523","160,820","161,435","146,610","136,667",...,"-147,009,127","-28,797,455","1,277,118","3,379,780","-528,840","-185,949,535","-79,768","245,761,903","641,297","-87,452,888"
4999,2024-03-21,"165,200","171,400","162,600","170,000","9,059,944","162,440","162,485","147,102","137,100",...,"-147,012,899","-28,730,457","1,275,158","3,855,559","461,351","-185,488,184","2,360,279","248,122,182","-2,743,417","-90,196,305"